:root {
    --light: #ffffff;
    --dark: #000;
    --bluedark: #131717;
    --whitesmoke: whitesmoke;
}

.filter-dark{
    filter: invert(3%) sepia(3%) saturate(5588%) hue-rotate(131deg) brightness(90%) contrast(87%);
}

body {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #131717;
    color: white;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: white;
}

.navlista{
    display: flex;
    width: 100%;
    justify-content: end;
    height: inherit;
}

nav span h1{
    padding-left: 10px;
    font-size: 20px;
}

nav span a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}

.goldenspan{
    font-family: 'Cinzel';
    letter-spacing: 5px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 5%, 
     #f6e27a 20%,
     #f6f2c0 50%,
     #f6e27a 80%,
     #cb9b51 95%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
 
}

.goldenspanForText{
    font-family: 'Cinzel';
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 5%, 
     #f6e27a 20%,
     #f6f2c0 50%,
     #f6e27a 80%,
     #cb9b51 95%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
}

.bigger{
    font-size: 30px;
}

.biggertextforinfo{
    font-size: 22px;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 35px;
    padding-inline-start: 0px;
    margin-right: 5px;
}

.nav-list li a{
    text-decoration: none;
    color: inherit;
    font-family: 'Ibarra Real Nova';
    font-size: 14px;
}

.nav-list li:hover{
    color:#cb9b51;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: #131717;
    gap: 30px;
}

.wrapperroomone{
    display: flex;
    width:100%;
    height: 100%;
    background-color: #131717;
    gap: 20px;
}

.hero{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    background-color: #131717;
}

.hero .heroimg{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(57.58% 57.58% at 50% 42.42%, rgba(18, 34, 41, 0.25) 0%, #131717 100%),
    url(assets/images/heropicture2.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    width: 80%;
    max-height: 90vh;
    border-radius: 20px;
}

.welcome h3{
    font-size: 40px;
    font-family:'Cinzel';
    color: whitesmoke;
}

.welcome p{
    color: whitesmoke;
    font-size: 23px;
    font-family: 'Noto Serif Display', serif;
}

.transition{
    width: 100%;
    height: 50px;
}

.transitiondiv{
    width: 100%;
    height: 50px;
}

.datepickerWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 22%;
    height: 100px;
    color:black;
    width:225px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #ccc; 
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px;
}

tbody{
    color:#131717;
}

.bookingWrapper{
    display: flex;
    justify-content:space-around;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.datepicker{
    width: 400px;
    height: 68px;
    border: none;
}

.roomwrapper{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
}

.swiper {
    width: 75%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 60%;
    left: 20px;
    color: white;
    font-family: 'Ibarra Real Nova';
    background-color: rgba(19, 23, 23, 0.5);
    padding: 15px 15px 15px 15px;
}

.info h3{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.info button p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.info a button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color:#131717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Button Hover State */
  .info button:hover{
    background-color:white;
    color: #131717;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev, .swiper-button-next{
    color: #131717;
}

.transfercode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.transfercode input{
    width: 225px;
    height: 40px;
    border-radius: 20px;
    padding: 5px 10px;
}

.transfercode button{
    border: 2px solid #ffb700;
    background-color: #131717;
    color: whitesmoke;
    border-radius: 5px;
    font-family: 'Ibarra Real Nova';
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Cinzel';
}

.transfercode button:hover{
    background-color: #ffb700;
    color: #131717;
}

.picsAndInfo{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.infoColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0 10px;
    width: 40%;
    height: 100%;
    position: relative;
}

.goldenOasis{
    position: absolute;
    top: 16px;
    left: 47px;
    font-family: "Cinzel";
    width: 500px;
    font-size: 50px;
    margin-block-start: 0px;
}

.gildedGrotto{
    position: absolute;
    top: 16px;
    left: 47px;
    font-family: "Cinzel";
    width: 500px;
    font-size: 39px;
    margin-block-start: 0px;
}

.sunlitAurum{
    position: absolute;
    top: 16px;
    left: 47px;
    font-family: "Cinzel";
    width: 500px;
    font-size: 39px;
    margin-block-start: 0px;
}

.infoColumn .upper{
    position: absolute;
    bottom: 365px;
    left: 76px;
    width: 450px;
    font-family: 'Ibarra Real Nova';
    line-height: 1.5;
    font-size: 17px;
}

.infoColumn .lower{
    position: absolute;
    bottom: -32px;
    left: 57px;
    width: 300px;
    font-family: 'Ibarra Real Nova';
    line-height: 1.6;
    font-size: 17px;
    padding: 25px;
    border-bottom: 1px solid var(--whitesmoke);
    border-top: 1px solid var(--whitesmoke);
}

.infoColumn .lower a{
    text-decoration: none;
}

.picColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 10px 10px 0 10px;
    gap: 10px;
}

.roompic{
    width: 50%;
    height: 50%;
    background-image: url(assets/images/luxury-grotto.jpg);
    background-size:cover;
    border-radius: 15px;
}

.roompicmedium{
    width: 50%;
    height: 50%;
    background-image: url(assets/images/medium-grotto.jpg);
    background-size:cover;
    border-radius: 15px;
}

.roompicCasual{
    width: 50%;
    height: 50%;
    background-image: url(assets/images/simple-grotto.jpg);
    background-size:cover;
    border-radius: 15px;
}

.sectionTwo{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.bathroompic{
    width: 40%;
    height: 100%;
    background-image: url(assets/images/luxurybathroom.jpg);
    background-size: cover;
    border-radius: 15px;
}

.bathroompicmedium{
    width: 40%;
    height: 100%;
    background-image: url(assets/images/mediumbathroom.jpg);
    background-size: cover;
    border-radius: 15px;
}

.bathroompicCasual{
    width: 40%;
    height: 100%;
    background-image: url(assets/images/casualbathroom.jpg);
    background-size: cover;
    border-radius: 15px;
}

.outsidepic{
    width: 40%;
    height: 100%;
    background-image: url(assets/images/pathtoluxuryroom.jpg);
    background-size: cover;
    border-radius: 15px;
}

.outsidepicmedium{
    width: 40%;
    height: 100%;
    background-image: url(assets/images/pathtobasicroom.jpg);
    background-size: cover;
    border-radius: 15px;
}

.outsidepicCasual{
    width: 40%;
    height: 100%;
    background-image: url(assets/images/pathtoroom.jpg);
    background-size: cover;
    border-radius: 15px;
}

footer {
    position: relative;
    background:transparent;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: whitesmoke;
    text-decoration: none;
}

footer{
    font-family: "Rubik", sans-serif;
}

footer h3 {
  font-family: "Noto Serif Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: var(--whitesmoke);
  font-weight: 400;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
footer a:hover {
  border-bottom: 1px solid var(--dark);
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer button {
  appearance: none;
  border: 0;
  background: transparent;
}
footer .flex {
  display: flex;
}
footer .footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}
footer .footer_inner {
  background: var(--bluedark);
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
footer .footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
footer .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--whitesmoke);
}

.c-nav-tool_item p span{
    font-size: 12px;
}

footer input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
  color: whitesmoke;
}
footer input:focus {
  outline: none;
}
footer input::placeholder {
  color: var(--whitesmoke);
}
@media (min-width: 675px) {
  footer .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  footer .w-50 {
    width: 50%;
  }
  footer .w-25 {
    width: 25%;
  }
}
footer form {
  position: relative;
}
footer svg {
  margin: 0.5rem;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(117deg) brightness(107%) contrast(92%);
}
footer .c-2 {
  margin-top: 3.5rem;
}
footer .footer_copyright {
  color: var(--light);
}

.massageroom{
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 100%;
}

.costperday{
    padding-top: 60px;
}

.pool-image, .massage-image{
    height:280px;
    width: 280px;
}

.massagebox{
    position: relative;
}

.massage-image {
    /* Set initial opacity without checkbox checked */
    opacity: 1;
}
  
.massage-image.checked {
    /* Set opacity when checkbox is checked */
    opacity: 0.6;
}

.poolbox{
    position: relative;
}

.pool-image {
    /* Set initial opacity without checkbox checked */
    opacity: 1;
    position: relative;
}
  
.pool-image.checked {
    /* Set opacity when checkbox is checked */
    opacity: 0.6;
}

.massageCheckmarkImg, .poolCheckmarkImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.hiddenCheckmark{
    opacity:0;
}

article {
    position: relative;
    width: 140px;
    height: 100px;
    margin: 5px;
    float: left;
    border: 2px solid #ffb700;
    border-radius: 5px;
    box-sizing: border-box;
}
  
article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    font-family: 'Ibarra Real Nova';
}
  
article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked ~ div {
    background-color: #ffb700;
    color:#131717;
}

.activities{
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.lavamassageActivities{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 50px;
}

.infoActivities{
    width: 100%;
    height: 100%;
}

.infoActivities p{
    height: 175px;
    width: 300px;
}

.lavamassageActivities img{
    width: 40%;
}

.poolareaActivities{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 50px;
}

.poolareaActivities img{
    width: 40%;
}

.infoActivities h3{
    margin: 0px;
    color: inherit;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.infoActivities p{
    font-family: 'Ibarra Real Nova';
    color: whitesmoke;
    line-height: 1.5;
}
    
.aboutUs{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutUs h2{
    font-size: 24px;
    font-family: "Cinzel";
    font-weight: 600;
}

.aboutUs p{
    font-family: 'Ibarra Real Nova';
    width: 50%;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--bluedark);
    color: whitesmoke;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-container h2{
    font-family: "Cinzel";
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.discount{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.discountjpg{
    display: flex;
    position: relative;
    height: 50%;
    width: 100%;
}

.discountjpg img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.discount input{
    width: 225px;
    height: 40px;
    border-radius: 20px;
    padding: 5px 10px;
}

.discount button{
    border: 2px solid #ffb700;
    background-color: #131717;
    color: whitesmoke;
    border-radius: 5px;
    font-family: 'Ibarra Real Nova';
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
}

.discount button:hover{
    background-color: #ffb700;
    color: #131717;
}

.discount p{
    font-family: 'Ibarra Real Nova';
    font-size: 17px;
    width: 225px;
}

.activitiesLink:hover{
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 5%, 
     #f6e27a 20%,
     #f6f2c0 50%,
     #f6e27a 80%,
     #cb9b51 95%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
}

.bookingPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--bluedark);
    border: 1px solid #ccc;
    z-index: 1000;
    width: 80vw;
    height: 80vh;

}

.booking-popup-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.booking-popup-content h3{
    font-family: 'Noto Serif Display', serif;
}

.booking-popup-content p{
    font-family: 'Ibarra Real Nova';
}

.close {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}

#jsonContent {
    overflow: auto;
    max-height: 300px;  
}

.booking-popup-content img{
    position: absolute;
    top: 0;
    right: 0;
    height: 40vh;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.discountedtotalcost h3{
    font-family: "Noto Serif Display", serif;
}

@media only screen and (max-width: 550px) {
    nav {
        align-items: flex-start;
    }

    .nav-list{
        gap: 13px;
        margin-right: 5px;
        width: inherit;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-list li a{
        font-size: 10px;
    }

    nav span h1{
        font-size: 11px;
        width: 50%;
    }

    .info h3{
        font-size: 14px;
    }

    .info p{
        font-size: 13px;
    }

    .bigger{
        font-size: 20px;
    }

    .goldenOasis{
        font-size:20px;
        position: static;
    }

    .picsAndInfo{
        flex-direction: column;
        height: 200vh;
    }

    .picColumn{
        width: 100%;
    }

    .infoColumn{
        width: 100%;
    }

    .infoColumn .upper{
        position: static;
    }

    .infoColumn .lower{
        position: static;
    }

    .bookingWrapper{
        flex-direction: column;
    }

    .massageroom{
        flex-direction: column;
        align-items: center;
    }

    .discountjpg{
        height: 250px;
        width: 52%;
    }

    .pool-image, .massage-image {
        height: 280px;
        width: 280px;
    }
}